extends layout

block content
    form(action="", method="post")
        Legend Login
        .form-group
            label(for="email") email
            input.form-control(type="text", name="email")
        .form-group
            label(for="password") password
            input.form-control(type="password",name='password')
        button.btn.btn-primary(type='submit') Login
        a.btn.btn-link(href="/api/auth/recover") Forgot Password?
        a.btn.btn-link(href="/api/auth/resend") Resend Verification Link 